backend/firebased-adminsdk.json
backend/scalable-project-9838a-firebase-adminsdk-fbsvc-ffc8faa411.json
backend/newsScraping/newsScraping/firebased-adminsdk.json
/backend/newsScraping/data
backend/newsScraping/deStandaard-index.html
backend/newsScraping/vrtNws-en.html
backend/.DS_Store
backend/newsScraping/newsScraping/firebased-adminsdk.json
backend/newsScraping/newsScraping/firebased-adminsdk.json
backend/newsScraping/newsScraping/firebased-adminsdk.json
backend/newsScraping/newsScraping/firebased-adminsdk.json
